{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}SmartChama{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/chama.css' %}">
</head>
<body>

<div class="toast-container" id="toast-container">
    {% if messages %}
        {% for message in messages %}
            <div class="toast">
                <span>{{ message }}</span>
            </div>
        {% endfor %}
    {% endif %}
</div>

<main>
  {% block content %} 
  {% endblock content %}
</main>

<script src="{% static 'js/chama.js' %}"></script>
</body>
</html>