{% extends "chama/chama_base.html" %}
{% block content %} 
<div class="container">
    <div class="box" style="max-width: 600px;"> 
        <div class="top-header"> 
            <h3>Create a New Chama</h3> 
            <p class="description">Start your savings journey today.</p>
        </div> 

        <form method="post" enctype="multipart/form-data"> 
            {% csrf_token %} 
            
            <div class="input-field">
                <label>Chama Name</label> 
                {{ form.chama_name }} 
            </div> 

            <div class="input-field">
                <label>Description</label> 
                {{ form.chama_description }}
            </div> 

            <div style="display: flex; gap: 20px;">
                <div class="input-field" style="flex:1;"> 
                    <label>Amount (KES)</label> 
                    {{ form.chama_contribution_amount }} 
                </div>
                <div class="input-field" style="flex:1;"> 
                    <label>Max Members</label> 
                    {{ form.chama_max_members }}
                </div> 
            </div>

            <div class="input-field"> 
                <label>Frequency</label> 
                {{ form.chama_contribution_frequency }} 
            </div> 
            
            <div class="input-field"> 
                <label>Payment Method</label>
                {{ payment_form.chama_payment_method }} 
            </div>
            
            <div id="payment-details-section" style="background: #f9f9f9; padding: 15px; border-radius: 8px; margin-bottom: 20px; display:none;">
                <div class="input-field paybill-field">
                    <label>Paybill Number</label> {{ payment_form.chama_paybill_number }}
                </div>
                <div class="input-field paybill-field">
                    <label>Account Number</label> {{ payment_form.chama_paybill_account_number }}
                </div>
                <div class="input-field till-field">
                    <label>Till Number</label> {{ payment_form.chama_till_number }}
                </div>
            </div>

            <div class="input-field"> 
                <label>Rota Type</label>
                {{ form.chama_rota_type }} 
            </div> 
            
            <input type="submit" class="submit" value="Create Chama"> 
        </form> 
    </div> 
</div>
{% endblock content %}