{% extends "chama/chama_base.html" %}

{% block content %}
<div class="container">
  <div class="box">
    <div class="top-header">
      <h3>Edit Chama</h3>
    </div>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="input-group">
        <div class="input-field">
          <label for="{{ form.chama_name.id_for_label }}">Chama Name</label>
          {{ form.chama_name }}
        </div>

        <div class="input-field">
          <label for="{{ form.chama_description.id_for_label }}">Chama Description</label>
          {{ form.chama_description }}
        </div>

        <div class="input-field">
          <label for="{{ form.chama_contribution_amount.id_for_label }}">Contribution Amount</label>
          {{ form.chama_contribution_amount }}
        </div>

        <div class="input-field">
          <label for="{{ form.chama_contribution_frequency.id_for_label }}">Contribution Frequency</label>
          {{ form.chama_contribution_frequency }}
        </div>

        <div class="input-field">
          <label for="{{ form.chama_custom_frequency_days.id_for_label }}">Custom Frequency (Days)</label>
          {{ form.chama_custom_frequency_days }}
        </div>

        <div class="input-field">
          <label for="{{ form.chama_max_members.id_for_label }}">Maximum Members</label>
          {{ form.chama_max_members }}
        </div>

        <div class="input-field">
          <label for="{{ form.chama_rota_type.id_for_label }}">Rota Type</label>
          {{ form.chama_rota_type }}
        </div>

        <div class="input-field">
          <input type="submit" class="submit" value="Update">
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
